.field {
    width: 8rem;
    height: 0.8rem;
    cursor: cell;
}

.tableHeader, .tableHeader *{
    font-weight: bold;
    user-select: none;
    cursor: pointer;
}

.timeField {
    user-select: none;
    width: 4rem;
    height: calc(0.8rem*4);
    align-content: center;
}
