* {
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: inherit;
}

p > a {
  color: #2ab89c;
}

header a {
  color: inherit;
}

header {
  text-align: center;
  background: #1abc9c;
  font-size: 30px;
  user-select: none;
}

.menu-box {
  display: flex;
  margin-left: 200px;
  margin-right: 200px;
  flex-wrap: wrap;
  justify-content: center;
}

.menuitem {
  text-align: center;
  font-size: 20px;
  margin: 20px 50px;
}

.content-mobile {
  margin: 0.5rem 1rem;
}

.content-desktop {
  margin: 20px auto;
  max-width: 1000px;
}

#image {
  display: flex;
  justify-content: center;
  align-content: center;
}

#image > img {
  height: auto;
}

.image-mobile {
  width: 100%;
}

.image-desktop {
  width: 80%;
}

h2, h3 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.content > h1 {
  font-size: 2.4rem;
}

header h1 {
  font-size: 2.9rem;
}

h2 {
  font-size: 1.9rem;
}

h3 {
  font-size: 1.5rem;
}

p, li {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 20px;
  top: 20px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #09493c;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #09493c;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 0.5em 0.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding-top: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  font-size: 0.6em;
  text-align: right;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}