* {
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: inherit;
}

p>a {
  color: #2ab89c;
}

header a {
  color: inherit;
}

.menu-content {
  position: absolute;
  background-color: #1ABC9C;
  padding: 1em 2em 1em 1em;
  width: 100%;
  left: 0;
  border-radius: 1px;
}

svg {
  height: 1em;
  width: 1em;
  fill: #ffffff;
  vertical-align: middle;
}

header {
  text-align: center;
  background: #1abc9c;
  font-size: 20px;
  user-select: none;
}

.open-menu-button {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.open-menu-button svg {
  vertical-align: middle;
}

.navbar {
  flex-direction: column;
  align-items: flex-end;
  padding-right: 1em;
  padding-bottom: 1em;
}

.navbar h2 {
  font-size: 1em;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  font-weight: normal;
}

.menu-box {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 3rem;
}

.menuitem {
  margin: 20px 30px;
}

.content-mobile {
  margin: 0.5rem 1rem;
}

.content-desktop {
  margin: 20px auto;
  max-width: 1000px;
}

#image {
  display: flex;
  justify-content: center;
  align-content: center;
}
#image > img {
  height: auto;
}

.image-mobile {
  width: 100%;
}

.image-desktop {
  width: 80%;
}

h2, h3 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.content > h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 1.9rem;
}

h3 {
  font-size: 1.5rem;
}

p, li {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}